<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Now and Later</title>
    <link rel="shortcut icon" href="images/time-ship-favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/time-ship-favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2753619c0b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- ************ player info ************ -->
    <div class="game-info">
        <div class="fixed-info">
            <div id="left-side">
                <div class="slide-deck">
                    <div class="stats">ENEMY COUNT: <span id="enemy-count"></span></div>
                    <div class="stats">HEALTH: <span id="health-status"></span></div>
                </div>
            </div>
        </div>
    
        <div class="fixed-info">
            <div id="right-side">
                <div class="slide-deck">
                    <div class="stats">PLASMA CANNON: <span id="plasma-ball-count"></span></div>
                    <div class="stats">TIME BOMB: <span id="time-bomb-count"></span></div>
                    <div class="stats">LIVES: <span id="life-count"></span></div>
                </div>
            </div>
        </div>
    </div>

    <div id="game-screen" class="surface">
    </div>

    <div id="num-seq"></div>
    <!-- <div id="game-title">
        <h1>The Nation of Crasti</h1>
    </div> -->
    <button class="startBtn">LAUNCH</button>
    <div id="modal-bg">
        <div class="modal-body">
            <h1 class="modal-text"></h1>
        </div>
        <button id="ready-modal">READY!</button>
        <button id="continue-modal">CONTINUE!</button>
        <button id="return-modal">RETURN!</button>
        <button id="done-modal">DONE!</button>
    </div>

    <div class="hit-box" id="hit-box">
        <div class="force-field"></div>
        <div id="touch-ship"></div>
    </div>
    <div id="temp-field"></div>
    
    <div id="blaster"></div>
    <div class="wing"></div>
    <div class="surface turret">
        <div id="cross-hair"></div>
    </div>
    <audio loop src="sounds/space-arp-f-chords.wav" id="theme-song"></audio>
    <audio src="sounds/memorymoon-space-blaster-plays.wav" id="laser-sound"></audio>
    <audio src="sounds/retro-space-explosion.wav" id="bomb-sound"></audio>

    <div class="toggle-mute-btn">
        <div id="unmuted-music"><i class="fas fa-volume-up fa-fw" aria-hidden="true"> </i>theme music</div>
        <div id="muted-music"><i class="fas fa-volume-mute fa-fw" aria-hidden="true"> </i>no music</div>
    </div>


    <script src="js/index.js"></script>
</body>

</html>